<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
</head>
<body>
<header>
    <div class="container">
        <p>header</p>
    </div>
</header>
<div class="container">
    <h1>Index Page</h1>

    <section>
        <div class="hint">
            <img src="<%= require('./img/alert.svg') %>" alt="" class="hint__image">
            <p class="hint__text">svg by url</p>
        </div>
    </section>

    <section>
        <div class="hint">
            <div class="hint__image"><%= require('./img/alert.svg?inline') %></div>
            <p class="hint__text">inlined svg</p>
        </div>
    </section>
</div>
<footer>
    <div class="container">
        <p>footer</p>
    </div>
</footer>
</body>
</html>
